
.looknlike_logo {
    font-family: 'Nanum Pen Script', cursive;
}

.header_base {
    text-align: center; 
    margin: 2rem 0;
}

.footer_base {
    text-align: center; 
    margin-top: 1rem;
}

.footer_menu_items {
    font-size: .9rem;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.header_nav_item {
    margin: 0.5rem;
}

.header_nav_bar {
    margin: 1rem 0;
}