<div class="header_base">
    <div>
        <h1 class="looknlike_logo">Look & Like</h1>
    </div>
    <div class="header_nav_bar">
        <a href="{% url 'postapp:list' %}" class="header_nav_item">
            <span>newsfeed</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="header_nav_item">
            <span>projects</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:create' %}" class="header_nav_item">
            <span>signup</span>
        </a>
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="header_nav_item">
            <span>login</span>
        </a>
        {% else %}
        <a href="{% url 'postapp:create' %}" class="header_nav_item">
            upload
        </a>
        <a href="{% url 'subscriptionapp:list' %}" class="header_nav_item">
            subscriptions
        </a>
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="header_nav_item">
            <span>account</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="header_nav_item">
            <span>logout</span>
        </a>
        {% endif %}
    </div>
</div>