{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div>
        <div style="text-align: center; max-width: 700px; margin: 4rem auto;"">
            <h1>
                {{ target_post.title }}
            </h1>
            <h5>
                {{ target_post.creator.profile.nickname }}
            </h5>
            <hr>
            <img src="{{ target_post.image.url }}" alt="" style="width: 100%; border-radius: 1rem; margin: 2rem 0;">
            <div style="height: 2rem;">
                <a href="{% url 'likeapp:post_like' pk=target_post.pk %}">
                    <i class="material-icons" style="vertical-align: middle; font-size: 1.5rem; color: #f77;">
                        favorite
                    </i>
                </a>
                <span style="vertical-align: middle; font-size: 1.2rem;">
                    {{ target_post.like }}
                </span>
            </div>
            <hr> 
            <div style="text-align: left;">
                {{ target_post.content | safe }}
            </div>
            <p>
                {{ target_post.created_at }}
            </p>
            <hr>
            {% if target_post.creator == user %}
                <a href="{% url 'postapp:update' pk=target_post.pk %}" class="btn btn-primary rounded-pill col-3">
                    Modify
                </a>
                <a href="{% url 'postapp:delete' pk=target_post.pk %}" class="btn btn-danger rounded-pill col-3">
                    Delete
                </a>
                <hr>
            {% endif %}

            {% for comment in target_post.comment.all %}
                {% include 'commentapp/detail.html' with comment=comment %}
            {% endfor %}

            {% include 'commentapp/create.html' with post=target_post %}
        </div>
    </div>
{% endblock%}