{% extends 'base.html' %}

{% block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        {% if target_user.profile %}
            {% if target_user == user %}
                <p style="font-family: NanumGothicCoding-Regular;">
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                        edit profile
                    </a>
                </p>
            {% endif %}
            <img src="{{ target_user.profile.image.url }}" alt="" style="height: 10rem; width: 10rem; border-radius: 10rem; margin-bottom: 2rem; object-fit: cover;">
            <h2 style="font-family: NanumGothicCoding-Bold;">
                {{ target_user.profile.nickname }}
            </h2>
            <h5 style="margin-bottom: 3rem;">
                {{ target_user.profile.message }}
            </h5>
        {% else %}
            {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <p>
                        Setup Profile
                    </p>
                </a>
            {% else %}
                <h3>
                    Profile hasn't been setup yet :(
                </h3>
            {% endif%}
        {% endif %}
        {% if target_user == user %}
            <p>
                member since : {{ target_user.date_joined }}
            </p>
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    Update Password
                </p>
            </a>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                <p>
                    Delete Account
                </p>
            </a>
        {% endif %}
    </div> 
    <div>
        {% include 'snippets/list.html' with post_list=object_list %}
    </div>
</div>

{% endblock %}